{% extends "admin/change_form.html" %}

{% load staticfiles %}

{% block after_field_sets %}
{{block.super}}

<style type="text/css">
    .form-horizontal .control-group .control-label {
        width: 10%;
        min-width: 10%;
        max-width:25%;
    }
    .form-horizontal .control-group .controls {
        width:85%;
        min-width:85%;
        max-width:90%;
    }
    .form-horizontal .control-group .controls .selector .selector-available {
        min-height:160px;
        width: 45%;
        min-width: 45%;
        max-width:50%;
    }
    .form-horizontal .control-group .controls .selector .selector-chosen {
        min-height:160px;
        width: 45%;
        min-width: 45%;
        max-width:50%;
    }
</style>
{% endblock %}
